
  
    <div>    	
    	
      <!--Body content-->
 
      <table id="contacts_table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
      	<thead>
      		<tr >
      			<th>Id</th>
      			<th>First Name</th>
	      		<th>Last Name</th>
	      		<th>Phone Number</th> 
	      		<th>
	      			<a href="/#/contacts/new" class="btn btn-large btn-primary pull-right" >
				    		<i class="icon-plus-sign icon-white"></i>
				    		Add New Contact
				    	</a> 
	      		</th>     			
      		</tr>
      		
      	</thead>
      	<tbody>
      		<tr ng-repeat="contact in contacts">  
      		
      		 <td>
      		 	{{contact.id}}
      		 </td>        
	          <td>
	          	{{contact.first_name}}
	          </td>	 
	          <td>
	          	{{contact.last_name}}
	          </td>	          
	          <td>
	          	{{contact.phone_num}}
	          </td>
	          <td>
	          	<a href="/#/contacts/edit/{{contact.id}}" class="btn pull-right">Edit Contact</a>
	          </td>
	          <td>
	          	<a href="/#/contacts/{{contact.id}}" class="btn pull-right">View Details</a>
	          </td>
	             
	        </tr>   
	    		
      	</tbody>
        
      </table>    
 
   </div>
   
   
   



